# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml
package-lock.json

# Build
dist/
build/

# Env
.env
.env.*
!.env.example

# Editor/OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
